<div class="mat-card-cvr">
    <mat-card class="membership-requests-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <span class="material-icons">
                    list_alt
                </span>
            </div>
            <mat-card-title>List of requests for writer membership.</mat-card-title>
            <mat-card-subtitle>You should do a review of the submited science papers and make a decision if they are
                going to become members or not.</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="board-member-card-content">
            Todo: check here if files are already uploaded and wait for acceptance.
        </mat-card-content>
    </mat-card>
</div>