<div *ngIf="formLoaded(); then content else loader"></div>

<ng-template #content>
    <mat-card id="genericFormContainer">
        <mat-card-title>
            {{formDto.formName}}
        </mat-card-title>

        <mat-card-content id="card-content">
            <form #genericForm="ngForm">

                <!-- GENERIC FORM FIELD -->
                <mat-form-field id="form-field" apperance="fill"
                    *ngFor="let field of formDto.formFields.controls; let i=index">
                    <div [ngSwitch]="field.controls.type.value.name">

                        <!-- MULTISELECT FORM FIELD -->
                        <div *ngSwitchCase="'MultiSelect'">
                            <mat-select [formControl]="field.controls.actualValue"
                                placeholder="{{field.controls.name.value}}" multiple>
                                <mat-option *ngFor="let msValue of multiselectValues; let j=index" value="{{j+1}}">
                                    {{msValue}}</mat-option>
                            </mat-select>
                        </div>

                        <!-- PASSWORD FORM FIELD -->
                        <div *ngSwitchCase="'password'">

                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                                [formControl]="field.controls.actualValue" required>

                            <mat-icon matPrefix id="password-icon" (click)="hide = !hide">
                                {{hide ? 'visibility_off' :
                                'visibility'}}
                            </mat-icon>
                        </div>

                        <!-- ANY TEXT FORM FIELD -->
                        <div *ngSwitchCase="'string'">
                            <input matInput [formControl]="field.controls.actualValue" id={{field.controls.id.value}}
                                apperance="fill" [placeholder]="field.controls.name.value" type="text">
                        </div>

                        <!-- CHECKBOX FORM FIELD -->
                        <div *ngSwitchCase="'boolean'">
                            <mat-checkbox [formControl]="field.controls.actualValue">
                                {{field.controls.name.value}}
                            </mat-checkbox>
                        </div>

                        <!-- FILE FORM FIELD -->
                        <div *ngSwitchCase="'PdfFile'">
                            <label class="custom-file-upload">
                                <input [formControl]="field.controls.actualValue" type="file" id="file-upload"
                                    placeholder="Choose science paper" (change)="selectFile($event)"
                                    value="Choose science paper">
                                <i class="fa fa-cloud-upload"></i> File upload
                            </label>
                            <ul *ngFor="let file of selectedFiles">
                                <li>{{file.name}}</li>
                            </ul>
                        </div>

                        <!-- ENUM FORM FIELD -->
                        <div *ngSwitchCase="'enum'">
                            <mat-select placeholder="Decide" [formControl]="field.controls.actualValue">
                                <mat-option *ngFor="let decisionType of enumKeys" [value]="decisionType">
                                    {{decisionType}}
                                </mat-option>
                            </mat-select>
                        </div>
                        

                        <mat-error>
                            {{ getErrorMessage(field.controls.name.value) }}
                        </mat-error>
                        <input class="dummyHiddenInput" matInput hidden>
                    </div>
                </mat-form-field>

                <!-- SUBMIT BUTTON -->
                <mat-form-field>
                    <div class="submit-button-wrapper">
                        <button mat-raised-button class="submitButton" (click)="onSubmit()"
                        [disabled]="checkValidation()" color="accent">Submit</button>
                        <input matInput hidden>
                    </div>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #loader>
    <div class="mat-spinner-wrapper">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
</ng-template>