#genericFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genericFormContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    /* width:100%; */
}

.login-card {
    margin: 0 auto;
    /* width: 20%; */
    text-align: center;
}

#card-content {
    width: 100%;
}
#form-field {
    width: 100%;
}

.submit-button-wrapper
 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    display: block;
    padding: 12px;
}

matInput {
    text-align: center;
    width: 100%;
}

#password-icon {
    cursor: pointer;
}

.mat-spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px);
}

.spinner {
    padding: 12px;
}
