.reader-info-card {
    display: inline-block;
    width: 55%;
    text-align: left;
}

.mat-card-cvr {
    width: 100%;
    text-align: center;
}

.reader-card-content {
    padding-top: 25px;
}

.member-header-image {
    background-image: url("src\assets\images\user-checked.jpg");
    background-size: cover;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}
