<div *ngIf="checkIsMember(); then memberContent else nonMemberContent"></div>

<ng-template #memberContent>
     <div *ngIf="writer!=null" class="mat-card-cvr">
        <mat-card class="writer-info-card">
            <mat-card-header>
                <div mat-card-avatar class="member-header-image"></div>
                <mat-card-title>You are a member. {{writer.firstName}} {{writer.lastName}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="writer-card-content">

                <mat-tab-group dynamicHeight backgroundColor="primary" mat-align-tabs="center" (selectedTabChange)="onLinkClick($event)">

                    <mat-tab label="Home" id="homeContainer">
                        <mat-grid-list cols="2" rowHeight="2:1">
                            <mat-grid-tile (click)="publishBook()">
                                <h2>Publish a book</h2>
                            </mat-grid-tile>
                            <mat-grid-tile (click)="reportPlagiarism()">
                                <h2>Create a plagiarism report</h2>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-tab>

                    <mat-tab label="My books" id="booksContainer">
                           <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="Title">
                                    <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Title </th>
                                    <td mat-cell *matCellDef="let book"> {{book.title}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Author">
                                    <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Author </th>
                                    <td mat-cell *matCellDef="let book"> {{book.authorsName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Genre">
                                    <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Genre </th>
                                    <td mat-cell *matCellDef="let book"> {{book.genre}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Action </th>
                                    <td mat-cell *matCellDef="let book"> 

                                        <div *ngIf="book.isPublished">
                                            <button mat-raised-button (click)="moreInfo(book)" color="accent">Book is published</button>
                                        </div>

                                        <div *ngIf="!book.isPublished">
                                            <div *ngIf="book.jurisdiction === 'writers_jurisdiction'">
                                                <button mat-raised-button (click)="submitMoreData(book)" color="accent">Continue</button>
                                            </div>
                                            <div *ngIf="book.jurisdiction != 'writers_jurisdiction'">
                                                <button mat-raised-button disabled color="accent">Waiting</button>
                                            </div>
                                        </div>


                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>

<ng-template #nonMemberContent>
    <div class="mat-card-cvr">
        <mat-card class="writer-info-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>You are not a member.</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div [ngSwitch]="membershipDecision" *ngIf="writer != undefined">

                <div *ngSwitchCase="'notSubmittedYet'">
                    <mat-card-content class="writer-card-content" *ngIf="writer.registrationPapers.length < 2">
                        <p>You don't have enough papers submitted. Please provide some more.</p>
                        <app-load-file (onFileUpload)="submit($event)"></app-load-file>
                    </mat-card-content>
                    <mat-card-content class="writer-card-content" *ngIf="writer.registrationPapers.length >= 2">
                        <p>Thanks for submitting your papers. Now we wait for membership decision.</p>
                    </mat-card-content>
                </div>
                <div *ngSwitchCase="'needMoreInfo'">
                    <mat-card-content class="writer-card-content" *ngIf="writer.registrationPapers.length < 1">
                        <p>Board members asked you for some additional papers before they make a decision.</p>
                        <app-load-file (onFileUpload)="submit($event)"></app-load-file>
                    </mat-card-content>
                    <mat-card-content class="writer-card-content" *ngIf="writer.registrationPapers.length >= 1">
                        <p>Thanks for submitting additional papers. Now we wait for membership decision.</p>
                    </mat-card-content>
                </div>
                <div *ngSwitchCase="'reject'">
                    <mat-card-content class="writer-card-content">
                        <p>Your membership request has been rejected.</p>
                    </mat-card-content>
                </div>
                <div *ngSwitchCase="'approve'">
                    <mat-card-content class="writer-card-content">
                        <p>Board members have accepted your membership requests.</p>
                        <app-writer-payment></app-writer-payment>
                    </mat-card-content>
                </div>
                <div *ngSwitchCase="'noData'">
                </div>


            </div>
            <p>Papers submitted</p>
            <div *ngIf="writer!=null">
                <ul *ngFor="let paper of writer.registrationPapers">
                    <li><mat-icon>assignment</mat-icon> {{paper.split('\\').pop()}}</li>
                </ul>
            </div>
        </mat-card>
    </div>
</ng-template>